<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Dev Radar - Ativação de Conta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    {{!-- <link rel="stylesheet" type="text/css" href="./style.css" /> --}}
  </head>
  <body>
    <p>Olá, <a href="http://localhost:3000/active/{{data.tokenRegister}}">clique aqui</a> para ativar sua conta!</p>
    
  </body>
</html>